.scorecard {
    color: black;
    font-size: 12px;
}

.change {
    /*dummy class so that I can make total update whenever ANY box is changed*/
}

.container {
    width: 55% !important;
}

html {
    height: auto;
}

body {
    display: table;
    margin: 0 auto;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.points {
    color: green;
}

.container {
    height: 100%;
    display: table-cell;
}

.table {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    color: blue;
}

@media (max-width: 680px) {
    .table {
        max-width: inherit;
    }
}
