.scorecard {
    color: black;
    font-size: 12px;
}

html {
    height: auto;
}

body {
    display: table;
    margin: 0 auto;
}

.points {
    color: green;
}

.container {
    height: 100%;
    display: table-cell;
}

.table {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

@media (max-width: 680px) {
    .table {
        max-width: inherit;
    }
}
